@import '../../Rc.consts.scss';

.allDays {
  display: grid;
  // grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-columns: repeat(8, minmax(0, 1fr));

  gap: 1px;
  background-color: $border;

  .allDay {
    padding: 10px;
    background-color: #f9fafe;
  }
}
