@import '../../../RC.consts.scss';

.container {
  position: absolute;
  top: 0;
  left: 45px;
  right: 0;
  z-index: 10;
  height: 2px;
  background-color: $primary;

  .time {
    position: absolute;
    left: 0px;
    background-color: $primary;
    padding: 2px 5px;
    color: white;
    border-radius: 20px;
    transform: translateY(-50%);
    line-height: 16px;
  }
}
